<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kacper.messenger" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Example" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".RecentChatActivity"
            android:label="@string/title_activity_recent_chat" >
        </activity>
        <activity
            android:name=".MessagesActivity"
            android:label="@string/title_activity_messages"
            android:parentActivityName=".RecentChatActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kacper.messenger.RecentChatActivity" />
        </activity>
        <activity
            android:name=".CreateMessageActivity"
            android:label="@string/title_activity_create_message" >
        </activity>
        <activity
            android:name=".ContentMessageActivity"
            android:label="Create message!">


        </activity>

    </application>

</manifest>
